<div class="vimeo-wrapper hide">
	<div class="video-box video-box--vimeo">
		<iframe id="vimeo-player-{{ media.id }}" class="vimeo-player pg__video" src="https://player.vimeo.com/video/{{ video_id }}" width="100%" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen allow="autoplay"></iframe>
	</div>
</div>