<div class="gutter-ele-top gutter-ele-bottom">
	<button id="ProductPopup-{{ block.id }}" class="product-popup-modal__button modal-link transition" type="button" aria-haspopup="dialog" data-target="#productPopupModal{{ section.id }}">{{ obj.settings.link_label | default: obj.settings.page.title }}</button>
</div>