{%- if text != blank -%}
	{%- if text_style == 'title' -%}
		{%- render 'product-single-name' with product: product, custom_text: text -%}
	{%- elsif text_style == 'vendor' -%}
		{%- render 'product-single-vendor' with product: product, custom_text: text -%}
	{%- else -%}
		<span class="db w100">{{- text -}}</span>		
	{%- endif -%}
{%- endif -%}