{%- if template.suffix != 'quick_view' -%}
<h1 class="product-single__title w100 dib margin0 fw-bold gutter-ele-top gutter-ele-bottom">{{- custom_text | default: product.title -}}</h1>
{%- else -%}
<span class="product-single__title w100 dib secondary-font fw-bold gutter-ele-top gutter-ele-bottom">{{- custom_text | default: product.title -}}</span>
{%- endif -%}