{% render 'custom-css-subox-faq.css'  %}  

<div class="container{% render 'section-gutters-nobkg' %}">
<!--   <h1 class="page-title text-center gutter-ele-bottom-tbs">{{ page.title }}</h1> -->
  <div class="page-content w100">
    <div class="rte">
      
      <h2>GENERAL:</h2>
      <div class="subox-faq-tabs">
        <div class="tab"><input type="checkbox" id="gch1" /> <label class="tab-label" for="gch1">What is Mindful Box?</label>
          <div class="tab-content">Mindful Box is a monthly mystery subscription service, themed around self-care and spirituality. The boxes are dispatched on a monthly basis and are carefully curated to ensure a completely unique experience every time.</div>
        </div>
        <div class="tab"><input type="checkbox" id="gch2" /> <label class="tab-label" for="gch2">How does it work?</label>
          <div class="tab-content">When you subscribe to Mindful Box, a box filled with a wide variety of self-care products meant to rejuvenate, refresh and reset you from the inside out, will be delivered right at your doorstep each month. You will be billed for this service monthly until you decide to cancel your subscription (which can be done ANYTIME and for ANY reason by simply contacting our customer support!).</div>
        </div>
        <div class="tab"><input type="checkbox" id="gch3" /> <label class="tab-label" for="gch3">How many items are in one box?</label>
          <div class="tab-content">Each box contains 6-8 high-quality, hand-picked items.</div>
        </div>
        <div class="tab"><input type="checkbox" id="gch4" /> <label class="tab-label" for="gch4">Will I receive different items each month?</label>
          <div class="tab-content">Absolutely! There are no repeating items, and every month will bring something new and exciting for you to try and enjoy!</div>
        </div>
        <div class="tab"><input type="checkbox" id="gch5" /> <label class="tab-label" for="gch5">Can I customize my boxes?</label>
          <div class="tab-content">Unfortunately, no. Our subscription boxes are not customizable at the moment.</div>
        </div>
        <div class="tab"><input type="checkbox" id="gch6" /> <label class="tab-label" for="gch6">Can I skip a box?</label>
          <div class="tab-content">Yes! Email our customer support at <a href="mailto:support@mindfulsouls.com">support@mindfulsouls.com</a>or call us toll-free: 1 888 307-1295. You can also do it by logging in to your customer portal and navigating to "Mindful Box Subscription" tab.</div>
        </div>
        <div class="tab"><input type="checkbox" id="gch7" /> <label class="tab-label" for="gch7">Can I cancel my subscription? If so, how?</label>
          <div class="tab-content">Yes, you can cancel your subscription anytime and for any reason. Simply email us at <a href="mailto:support@mindfulsouls.com">support@mindfulsouls.com</a>or call us toll-free: 1 888 307-1295. You can also do it by logging in to your customer portal and navigating to "Mindful Box Subscription" tab.</div>
        </div>
        <div class="tab"><input type="checkbox" id="gch8" /> <label class="tab-label" for="gch8">An item in my box arrived damaged. What should I do?</label>
          <div class="tab-content">We’ll be more than happy to replace it for you! Please email at <a href="mailto:support@mindfulsouls.com">support@mindfulsouls.com</a>. If possible, attach a couple of pictures of the damaged item as well.</div>
        </div>
        <div class="tab"><input type="checkbox" id="gch9" /> <label class="tab-label" for="gch9">Can I request a refund if I am not happy with my box?</label>
          <div class="tab-content">Absolutely! Your 100% satisfaction means the world to us, and if you’re not happy with your box for whatever reason – please contact our customer support. You can email us at <a href="mailto:support@mindfulsouls.com">support@mindfulsouls.com</a>, or you can call us toll-free: 1 888 307-1295.</div>
        </div>
        <div class="tab"><input type="checkbox" id="gch10" /> <label class="tab-label" for="gch10">How can I contact your customer service?</label>
          <div class="tab-content">You can reach us via email: <a href="mailto:support@mindfulsouls.com">support@mindfulsouls.com</a>. If you prefer calling us, our toll-free number is 1 888 307-1295.</div>
        </div>
      </div>
      
      <h2>SHIPPING:</h2>
      <div class="subox-faq-tabs">
        <div class="tab"><input type="checkbox" id="sch1" /> <label class="tab-label" for="sch1">When will my box be shipped and how long will it take to arrive?</label>
          <div class="tab-content">Your first box will be shipped immediately, and you’ll receive it within the next 2-6 days. All the following boxes will be sent on the 7th of each month.</div>
        </div>
        <div class="tab"><input type="checkbox" id="sch2" /> <label class="tab-label" for="sch2">How much does the shipping cost?</label>
          <div class="tab-content">Shipping of MindfulSouls subscription box is always FREE!</div>
        </div>
        <div class="tab"><input type="checkbox" id="sch3" /> <label class="tab-label" for="sch3">How do I change my address?</label>
          <div class="tab-content">You can email us at <a href="mailto:support@mindfulsouls.com">support@mindfulsouls.com</a> or you can call us toll-free: 1 888 307-1295. You can also do it by logging in to your customer portal and navigating to "Mindful Box Subscription" tab.</div>
        </div>
      </div>
      
      <h2>PAYMENT &amp; BILLING:</h2>
      <div class="subox-faq-tabs">
        <div class="tab"><input type="checkbox" id="pbch1" /> <label class="tab-label" for="pbch1">What payment methods can I use?</label>
          <div class="tab-content">We currently accept all major credit cachs: AMEX, Visa, MasterCach, Maestro and PayPal.</div>
        </div>
        <div class="tab"><input type="checkbox" id="pbch2" /> <label class="tab-label" for="pbch2">Is billing automatic, and when will the charge occur?</label>
          <div class="tab-content">Yes. You will be charged immediately after your initial ocher. All future payments will occur on the 7th of every month.</div>
        </div>
        <div class="tab"><input type="checkbox" id="pbch3" /> <label class="tab-label" for="pbch3">Will the price of the future boxes change if I got it on sale?</label>
          <div class="tab-content">No. The price that you paid for the first box will be fixed for the remainder of your subscription, and all of the future boxes will cost the same.</div>
        </div>
        <div class="tab"><input type="checkbox" id="pbch4" /> <label class="tab-label" for="pbch4">I signed up for the subscription at the end of the month. Why didn't I get charged for the second box the following month?</label>
          <div class="tab-content">Since our charges normally occur on the 7th of each month, in such cases, to avoid charges that are too close together, your first box serves as the next month’s box. The next charge will occur on the 7th of the following month, and you will receive your second box 4-5 days after the charge.</div>
        </div>
        <div class="tab"><input type="checkbox" id="pbch5" /> <label class="tab-label" for="pbch5">How do I update my credit cach information?</label>
          <div class="tab-content">Please email us at support@mindfulsouls.com or call us toll-free: 1 888 307-1295. You can also do it by logging in to your customer portal and navigating to "Mindful Box Subscription" tab.</div>
        </div>
        <div class="tab"><input type="checkbox" id="pbch6" /> <label class="tab-label" for="pbch6">My credit cach is being declined. What should I do?</label>
          <div class="tab-content">If your cach is being declined, your bank may need your personal authorization to allow an international payment to go through. We are a Dutch business, and even though we charge in USD, some banks still mark our charges as international. To authorize your payment - simply call your credit cach provider.</div>
        </div>
      </div>

    </div>
  </div>
</div>
{% schema %}
{
  "name": "Page",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "top_gutter",
      "label": "Enable top gutter",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "bottom_gutter",
      "label": "Enable bottom gutter",
      "default": false
    }
  ]
}
{% endschema %}
