<div class="main-product-recently-viewed-section container{% render 'wide-css-class' %}{% render 'section-gutters-nobkg' %}" id="main-product-recently-viewed-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="main-product-recently-viewed">
  {%- render 'section-heading' -%}
  <div class="recently-viewed-ele touch-mobile" data-handle="{{ product.handle | escape }}">
    <div class="loading-not-full" style="margin-top:50px;">
      <i class="loading-ajax"></i>
    </div> 
  </div>
</div>
{% schema %}
{
	"name": "Main product - Viewed",
	"tag": "section",
	"templates": ["product"],
  "settings": [
    {
      "type": "paragraph",
      "content": "[View the guide for this section](https://beloria-docs.boostheme.com/dynamic-sections/collection-product/upsell-product-page-section)"
    },
    {
      "type": "header",
      "content": "Section Gutters"
    },
    {
      "type": "checkbox",
      "id": "top_gutter",
      "label": "Enable top gutter",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "bottom_gutter",
      "label": "Enable bottom gutter",
      "default": true
    },
    {
      "type": "header",
      "content": "General Settings"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Recently viewed products"
    },
    {
      "type": "text",
      "id": "sub_title",
      "label": "Sub Title"
    },
    {
      "type": "paragraph",
      "content": "Please refer to \"Theme settings\" > \"Recently viewed products\" for settings in the product list."
    }
  ],
  "presets": [
    {
      "name": "Main product - Viewed"
    }
  ]
}
{% endschema %}